/*Configure the tab buttons*/
.sheet-input,
.sheet-display {
    display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="input"] ~ div.sheet-input,
.sheet-tabstoggle[value="specials"] ~ div.sheet-specials,
.sheet-tabstoggle[value="display"] ~ div.sheet-display {
    display: block;
}


.mysheet {
    width: 830px;
    height: 530px;
    background-image: url("https://files.d20.io/images/501266163/oy5qGhS1vXgcKes92nLztw/thumb.jpg?1789612219");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.attributes {
    padding: 15px 0px 0px 15px;
}



main {
    display: grid;
    width: 800px;
    height: 500px;
    grid-gap: 4px;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(7,1fr);
    grid-template-areas:"info     info  info info    info    info       pic pic pic pic"
                        "skill    move  tmm  heat    armour  structure pic pic pic pic"
                        "weapons    weapons weapons weapons  weapons  weapons pic pic pic pic"
                        "weapons    weapons weapons weapons  weapons  weapons pic pic pic pic"
                        "weapons    weapons weapons weapons weapons weapons pic pic pic pic"
                        "special    special special special special special criticals criticals criticals criticals"
                        "special    special special special special special criticals criticals criticals criticals";
    }


/*----------------- GENERAL CSS ------------------*/

section {
    padding: 5px;
    border-style: solid;
}

/* CSS Flexbox styling, used for adjusting how content inside section behaves */
.f-col {
  display: flex;
  flex-direction: column;
}
.f-row {
  display: flex;
  flex-direction: row;
  justify-items: all;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.nowrap {
  display: flex;
  flex-wrap: nowrap;
}
.f-center {
  align-items: center;
  justify-content: center;
}


/*----------------- Text & Input styling -----------------*/

/* these are for overwriting default CSS that comes from Roll20 */

.charsheet * {
  font-family: "serif;";
}

.charsheet h1{
  text-align: center;
  color: black;
}
.charsheet h2{
  text-align: center;
  color:  black;
}
.charsheet h3{
  text-align: center;
  color: black
}

.charsheet h4{
  text-align: center;
  color: darkred;
}

.charsheet h5{
  text-align: center;
  color: darkred;
}

.redtext h3{
  text-align: center;
  color: darkred;
}

/*------------- Section-specific CSS -------------*/


.info {
    grid-area: info;
    flex-direction: center;
    background-color:  white;
  }
.info h1 {
  color: darkred
}



.skill {
    grid-area: skill;
    flex-direction: center;
    background-color:  white;
  }

.move {
    grid-area: move;
    flex-direction: center;
    background-color:  white;
  }
.move h3{
  color: black;
}
input[type="hidden"][value="Yellow"].move-status ~ .move {
    background-color: yellow;
}
input[type="hidden"][value="Black"].move-status ~ .move {
    background-color: black;
}
input[type="hidden"][value="Black"].move-status ~ .move h3{
    color: white;
}




.tmm {
    grid-area: tmm;
    flex-direction: center;
    background-color:  white;
  }
.tmm h3{
  color: black;
}
input[type="hidden"][value="Yellow"].tmm-status ~ .tmm {
    background-color: yellow;
}
input[type="hidden"][value="Red"].tmm-status ~ .tmm {
    background-color: red;
}




.heat {
    grid-area: heat;
    flex-direction: center;
    background-color: white;

  }
.heat h3{
  color: black;
}
input[type="hidden"][value="Yellow"].heat-status ~ .heat {
    background-color: yellow;
}
input[type="hidden"][value="Orange"].heat-status ~ .heat {
    background-color: orange;
}
input[type="hidden"][value="Red"].heat-status ~ .heat {
    background-color: red;
}
input[type="hidden"][value="Black"].heat-status ~ .heat {
    background-color: black;
}
input[type="hidden"][value="Red"].heat-status ~ .heat h3{
    color: white;
}
input[type="hidden"][value="Black"].heat-status ~ .heat h3{
    color: white;
}


.armour {
    grid-area: armour;
    flex-direction: center;
    background-color:  white;
  }
.armour h3{
  color: black;
}
input[type="hidden"][value="Yellow"].armour-status ~ .armour {
    background-color: yellow;
}
input[type="hidden"][value="Red"].armour-status ~ .armour {
    background-color: red;
}





.structure {
    grid-area: structure;
    flex-direction: center;
    background-color:  white;
  }
.structure h3{
  color: black;
}
input[type="hidden"][value="Yellow"].structure-status ~ .structure {
    background-color: yellow;
}
input[type="hidden"][value="Red"].structure-status ~ .structure {
    background-color: red;
}

.criticals {
    grid-area: criticals;
    flex-direction: center;
    background-color:  white;
  }
  
 
.pic {
    grid-area: pic;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  

  

.weapons {
  grid-area: weapons;
  background-color:  white;
}

.weaponinfo{
  grid-area: weaponinfo;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 5fr 1fr 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  background-color: white;
  text-align: center;
  align-items: center;
}

/* Weapon 1 */
input[type="hidden"][value="Off"].weapon1-status ~ .weapon1{
    display: none;
}
input[type="hidden"][value="Damaged"].weapon1-status ~ .weapon1 {
    background-color: red;
}
input[type="hidden"][value="Damaged"].weapon1-status ~ .weapon1 h4{
    color: white;
}
input[type="hidden"][value="Destroyed"].weapon1-status ~ .weapon1 {
    background-color: black;
}
input[type="hidden"][value="Destroyed"].weapon1-status ~ .weapon1 h4{
    color: white;
}



.weapon1 {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 5fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

/* Weapon 2 */
input[type="hidden"][value="Off"].weapon2-status ~ .weapon2{
    display: none;
}
input[type="hidden"][value="Damaged"].weapon2-status ~ .weapon2 {
    background-color: red;
}
input[type="hidden"][value="Damaged"].weapon2-status ~ .weapon2 h4{
    color: white;
}
input[type="hidden"][value="Destroyed"].weapon2-status ~ .weapon2 {
    background-color: black;
}
input[type="hidden"][value="Destroyed"].weapon2-status ~ .weapon2 h4{
    color: white;
}

.weapon2 {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 5fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

/* Weapon 3 */
input[type="hidden"][value="Off"].weapon3-status ~ .weapon3{
    display: none;
}
input[type="hidden"][value="Damaged"].weapon3-status ~ .weapon3 {
    background-color: red;
}
input[type="hidden"][value="Damaged"].weapon3-status ~ .weapon3 h4{
    color: white;
}
input[type="hidden"][value="Destroyed"].weapon3-status ~ .weapon3 {
    background-color: black;
}
input[type="hidden"][value="Destroyed"].weapon3-status ~ .weapon3 h4{
    color: white;
}

.weapon3 {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 5fr 1fr 1fr 1fr 3fr;
    grid-template-rows: 1;
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 3px;
}

.special {
  grid-area: special;
  background-color:  white;
}



.specialinfo {
    grid-area: weaponinfo;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: repeat(auto-fill, 1fr);
    background-color: white;
    align-items: center;
  }


.crittitle h3{
  font-weight: bold;
}

.enginecrit {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1;
  text-align: left;
  align-items: center;
  padding: 3px;
}
 
.enginecrit img{
    width: 16px;
    height: 16px;
}

.fccrit {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
  text-align: left;
  align-items: center;
  padding: 3px;
}
.fccrit img{
    width: 16px;
    height: 16px;
}


.mpcrit {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
  text-align: left;
  align-items: center;
  padding: 3px;
}
.mpcrit img{
    width: 16px;
    height: 16px;
}

.wpcrit {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1;
  text-align: left;
  align-items: center;
  padding: 3px;
}
.wpcrit img{
    width: 16px;
    height: 16px;
}